/* Universal Font Elements */
* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
/* Header Elements */
header {
  height: 6em;
  margin: 0 0 2em 0;
  text-align: center;
  background-color: #404041;
}
header p {
  padding: .3em;
  margin: 0;
  font-size: 3em;
  color: #E6E7E8;
}

.number-text {
  font-size: 1em;
  font-weight: bold;
  color: #EB008B;
}

/* Input Field */
.form {
 display: flex;
 justify-content: center;
 margin: 20px;

}

.guessField {
  width: 500px;
  height: 50px;
  margin-bottom: .5em;
  padding-left: 0.25em;
  font-size: 1.75em;
}
.guessField::placeholder {
  color: #E6E7E8;
}

.buttons {
 display: flex;
 justify-content: center;
 align-content: space-between;
}

.button {
 background-color: #929497;
 color: #FFFFFF;
 border-radius: 24px;
 font-size: 24px;
 font-weight: 300;
 width: 12.5%;
 margin: 10px;
}

.button.wider{
 width: 25%;
}
.resetButton {
 background-color: #929497;
 color: #FFFFFF;
 border-radius: 12px;
 font-size: 24px;
 font-weight: 300;
 width: 25%;
 margin: 10px;
}

.button:hover {
 background-color: #EB008B;
}

.button:disabled {
 background-color:#929497;
 opacity: 0.5;
}

.resultParas {
 text-align: center;
}

.guesses h3 {
 font-size: 30px;
 color: #EB008B;
 margin: 0px 0;
 font-size: 150px;
 font-weight: 300;
}

p {
 font-size: 25px;
}

.rangeForm {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.rangeField {
 width: 50px;
 height: 25px;
 font-size:18px;
 font-weight: 100;
}

.rangeHeader {
 text-align: center;
 font-weight: 700;
}
