/* Universal Font Elements */
* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* Header Elements */
header {
  height: 6em;
  margin: 0 0 2em 0;
  text-align: center;
  background-color: #404041;
}

header p {
  padding: .3em;
  margin: 0;
  font-size: 3em;
  color: #E6E7E8;
}

.number-text {
  font-size: 1em;
  font-weight: bold;
  color: #ED458B;
}

/* Input Field Elements */
.user-input {
  text-align: center;
}
.range {
  font-size: 1.25em;
}
.user-input-field {
  width: 500px;
  height: 50px;
  margin-bottom: .5em;
  padding-left: 0.25em;
  font-size: 1.75em;
}

/* Button Elements */
.button {
  background-color: #929497;
  border-radius: 24px;
  color: #FFFFFF;
}

.button:disabled {
  background-color: #D0D2D3;
}

.button:hover {
  background-color: #EB008B;
}

.guess-class-buttons {
  margin: 0;
}
.user-input-button {
  width: 225px;
  height: 50px;
  margin: 0.25em 0.25em 1.5em;
  font-size: 1.5em;
}
.last-guess-reset-button {
  width: 500px;
  height: 50px;
  font-size: 1.5em;
}


/* Text Elements */
.last-guess {
  text-align: center;
}

.last-guess-text,
.last-guess-output,
.game-win-message {
  margin: 0;
  font-size: 2em;
  text-decoration: none;
  color: #404041;
}

.last-guess-output {
  height: 2em;
}
.game-win-message {
  height: 2em;
  color: #EB008B;
}

.last-guess-number-display {
  margin: 0;
  padding: 0;
  font-size: 9em;
  color: #EB008B;
}
